 body { 
    background: lightseagreen;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

.wrapper{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
      
}
 #question-holder {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    background-color: wheat;
  

      }

#buttons {
    margin: 50px 0;
    text-align: center;
      }

button {
    width: 200px;
    height: 100px;
    font-size: 25px;
      }

#timer {
    background: red;
    font-size: 30px;
    
}

#question-holder {
   
    width: 100%;
    padding: 30px;

}

.answerChoice {
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    border-style: solid;
    border-width: 5px;
    
    
}

.answerChoice:hover {
    color: white;
    background-color:white;
    color: black;
}
