body {
    padding:50px;
    margin:0;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper {
    width: 800px;
    max-width: 80%;
    background-color: wheat;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.instructions {
    text-align: center;
}


.startgame {
    padding: 30px;
    text-align: center;
}

.startbutton .nextquestion {
    margin-left: auto;
    margin-right: auto;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 15px;
    margin: 20px 0;
}

.button, .startbutton, .nextquestion {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    border-color: none;
}

.button:hover, 
.startbutton:hover, 
.nextquestion:hover {
    border-color: white;
}


.hide {
    display: none;
}