 body { 
    background: lightseagreen;
    text-align: center;
        }
 #question-holder {
    margin: 0 auto;
    width: 400px;
    text-align: center;
      }

#buttons {
    margin: 50px 0;
    text-align: center;
      }

button {
    width: 200px;
    height: 100px;
      }

#timer {
    background: red;
}

#question-holder {
    border: 10px lightyellow solid;
}

.answerChoice {
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    
    
}

.answerChoice:hover {
    color: white;
}